<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5e4bb2b-5677-4a97-90ae-71138291f0ef" Alias="[NestedContent] Nested Elements" Level="1">
  <Info>
    <Name>[NestedContent] Nested Elements</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "nestedElement",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>